# Accessibility Testing Report

User testing was conducted by {Mio Tahara} on {April5, 2014} between the times of {14:50} and {15:27} with the following participants:

- {Jemina Ghadban}
- {Mary Fang}
- {Carolina Taillon}
- {Sharon Edwards}
- {Ann Bui}
- {Anri Nagane}

## Tasks

1. {Target link "About"}
2. {Go to "rabbit-makorin" page}
3. {target search button on product page}

---

## Individual Results & Observations

### {Jemina Ghadban}

- {She completed the tasks with voice over}
- {She completed the tasks without having any problems}

### {Mary Fang}

- {She completed the tasks with voice over}
- {She had trobles with shortcut keys and she had difficulity to go previous content}

### {Carolina Taillon}

- {She completed the tasks with voice over}
- {She had trobles with shortcut keys and took time to target search button}

### {Sharon Edwards}

- {She completed the tasks with tabs}
- {She had no trobles to complete tasks}
- etc.

### {Ann Bui}

- {She completed the tasks with tabs}
- {She asks me to repeat the task because she took time to find search button}

### {Anri Nagane}

- {She completed the tasks with tabs}
- {She had no trobles to complete tasks}
- etc.

---

## Trends

### Critical, Needs Fixing, Unable to Complete

- None


### Serious, Causes Frustration, May Hinder Completion

- None

### Minor, Annoying, Won’t Hinder Completion

- {Participants pointed out to have search field at top of the page or it should be more further from content}