---
layout: default
title: Home
meta: "Cute dolles for kids: stuffed toy, dolls"
showbanner: yes
bannertext: Doll land!
---
<h3>Welcome to Doll land! You can find the cute doll in this website.</h3>
<p>Click the type of animal which you want to see.</p>

<div class="grid">

	<div class="gutter unit s-1 unit-m-1-3 unit-l-1-3">
    	{% include promo-small.html title="teddy bear" description="teddy bear" image="bear1.jpg" %}
           <a class="btn giga" href="{{site.baseurl}}/dolls/bears/">Teddy bear</a>

    </div>

	<div class="gutter unit s-1 unit-m-1-3 unit-l-1-3">
    	{% include promo-small.html title="Stuffed cat" description="Stuffed cat" image="cat2.jpeg" %}
        	<a class="btn giga" href="{{site.baseurl}}/dolls/cats/">Stuffed Cats</a>
            
    </div>
