# User Testing Report

User testing was conducted by {Mio Tahara} on {Monday, march24, 2014} between the times of {16:00} and {17:00} with the following participants:

- {Jemina Ghadban}
- {Mary Fang}
- {Carolina Taillon}

## Tasks

1. {How much does "Black cat" costs?}
2. {What is the size of Brown bear with red ribbon?}
3. {Buy "Wedding bear"}

---

## Individual Results & Observations

### {Jemina Ghadban}

- {She click the button as I expected}
- {She had no problem to complete tasks}

### {Mary Fang}

- {She clicked on search tab, and go back to home page to find products}
- {She had trouble finding peoduct page, which is on home page}

### {Carolina Taillon}

- {She clicked on the button as I expected}
- {She had no problem to complete tasks}

---

## Trends

### Critical, Needs Fixing, Unable to Complete

- None

### Serious, Causes Frustration, May Hinder Completion

- None
### Minor, Annoying, Won’t Hinder Completion

- {Participants pointed out this inconsistency…}
- {Delete page for search so it is not confusing}