@charset "UTF-8";
/* CSS Document */

/* Colour palette 
	#F90 orange
	#F60 dark orange
	#FFF white */

footer{
	clear: both;
}

.footer-links a,
.footer-links a:link,
.footer-links a:visited {
	color: orange;
	border: 0;
	float: right;
}
.footer-links a:hover,
.footer-links a:focus,
.footer-links a:active {
	color: red;
}