---
layout: default
title: Bears
meta: Page for a stuffed teddy bear.
---

<div class="grid">
	<div class="unit unit-s-1 unit-m-1-2 unit-l-1-3">
<h1>Stuffed teddy bears</h1>
	</div>
    <div class="unit unit-s-1 unit-m-1-2 unit-l-2-3">
<p>List for cute Stuffed teddy bears.</p>
	</div>
</div>

<ul>
	{% for doll in site.pages %}
    	{% if doll.type == 'bear' %}
    		<li>
           <a href="{{site.baseurl}}{{doll.url}}">
            	<img src="{{site.baseurl}}/image/{doll.image}}" alt="">
                {{doll.name}}
           	</a>
        	</li>
    	{% endif %}
    {% endfor %}
</ul>